@import "tailwindcss";

:root {
  --brand-color: #6AD1DB;
}

body {
  font-family: 'Inter', sans-serif;
}

.brand-bg {
  background-color: var(--brand-color);
}

.brand-text {
  color: var(--brand-color);
}

.brand-border {
  border-color: var(--brand-color);
}
